/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

body,
table,
td,
a {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: FreeSans, sans-serif;
}

table,
td {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

img {
  -ms-interpolation-mode: bicubic;
}

/* RESET STYLES */
img {
  border: 0;
  outline: none;
  text-decoration: none;
}

table {
  border-collapse: collapse !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* GMAIL BLUE LINKS */
u + #body a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Default Unordered list style*/
ul {
  margin: 0px;
  padding-left: 30px;
}

/* Default Ordered list style*/
ol {
  margin: 0px;
  padding-left: 25px;
}

li {
  font-size: 16px;
  font-family: FreeSans, sans-serif;
  color: #404040;
  margin-bottom: 20px;
  padding-left: 8px;
}

/* Default Paragraph style */

.header {
  text-align: center;
  padding-top: 10mm;
  padding-bottom: 10mm;
}

.header-text {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 5mm;
}

.header-logo img {
  max-width: 30mm; /* Adjust as necessary */
  height: auto;
}
